<!DOCTYPE html>
{% load static %}
<html>
<head>

<meta name="viewport"content="width=divice-width">
<link rel="stylesheet" href="{%static 'css/bootstrap4.1.min.css'%}">
<title></title>
<style type="text/css">
body{font-size:30px}
 #myd{
         width:100%;height:200px;
         background-color:yellow;
       }
</style>
</head>
<body>
<h1><a href="{{st.get_url}}" id="atag" data-sid="{{st.id}}">click here</a></h1>
<p id="myp">Total students:
   <span id="myspan">{{stu.count}}</span>
</p>
<table class="table bg-success">
  <thead>
     <th>Id</th>
     <th>name</th>
     <th>marks</th>
     <th>update</th>
     <th>delete</th>
  </thead>
  <tbody id="tbody">
  {% for s in stu %}   
     <tr>
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.marks}}</td>
        <td><input data-sid="{{s.id}}"class="btn-edit btn btn-lg btn-primary bg-success"type="button" value="edit"></td>
        <td><input data-sid="{{s.id}}"class="btn-del btn btn-lg btn-primary bg-success" type="button" value="delete"></td>
     <td><button data-sid="{{s.id}}" class="btn-like btn btn-lg btn-primary bg-success">like</button><span>{{s.marks}}</span></td>
     </tr>
  {% endfor %}
 </tbody> 
</table>
<br><br><br>
<form method="POST">
 {% csrf_token %}
 {{form.as_p}}
 <input type="hidden" id="stuid">
 <input id="savebtn" type="button"value="save"class="btn btn-lg btn-primary">
</form>	<br><br>
<div id="myd">


</div>
<script type="text/javascript"src="{% static 'js/jquery.js' %}"></script>
{% include "ajaxapp/ajax.html" %}

</body>
</html>